body{
  background-color: #56012A;
}

header {
  font-weight:bold;
  font-family: 'Bebas Neue';
  text-align:center!important;
  padding-top:70px;
  /* margin-top:-40px!important; */
  width:100%!important;
  /* margin:0 auto!important; */
  display: inline-block!important;
  left:0!important;
  /* margin-bottom:-75px!important; */
}

/*Ajustar letra del encabezado segun tamaño del dispositivo*/
@media screen and (min-width: 601px) {
  .header {
    font-size: 42px;
    margin-top:5px;
  }
}

@media screen and (max-width: 600px) {
  .header {
    font-size: 21px;
    margin-top:20px;
  }
}
/*Ajustar letra del encabezado segun tamaño del dispositivo*/

h2{
  font-size:35px;
  font-weight:bold;
  font-family:'Bebas Neue';
  text-align:center;
  color:#F6FFFE;
}

/*Ajustar letra del H2 segun tamaño del dispositivo*/
@media screen and (min-width: 601px) {
  .h2 {
    font-size: 35px;
  }
}

@media screen and (max-width: 600px) {
  .h2 {
    font-size: 18px;
  }
}
/*Ajustar letra del H2 segun tamaño del dispositivo*/

mark.white {
  color:#F6FFFE;
  background: none;
}

mark.yellow {
  color:#F9BA2D;
  background: none;
}

.contenedor{
  width:100%;
  /* max-width:1000px; */
  /* margin:20px auto; */
  display: grid;
  grid-gap: 20px;
  grid-template-columns:repeat(3,1fr);
  grid-template-rows:repeat(5, auto);
  grid-template-areas:"topnav topnav topnav"
                      "header header header"
                      "contenido contenido sidebar"
                      "footer footer footer";
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.contenedor>div,
.contenedor .topnav,
.contenedor .contenido,
.contenedor .header,
.contenedor .sidebar,
.contenedor .footer
{
  padding:20px;
  border-radius:4px;
}

.topnavdos {
  margin:0;
  list-style-type: none;
  margin: 0;
  margin-left:-8px;
  padding: 0;
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

/* Style the links inside the navigation bar */
.topnavdos a {
  float: left!important;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  top:0;
  text-decoration: none;
  /* font-size: 25px; */
  font-family: 'Bebas Neue';
  margin:0;
  display: block;
  border-right: 2px solid white;
}

/*Ajustar letra de la barra de navegación segun tamaño del dispositivo*/
@media screen and (min-width: 601px) {
  .topnavdos {
    font-size: 25px;
  }
}

@media screen and (max-width: 600px) {
  .topnavdos {
    font-size: 18px;
  }
}
/*Ajustar letra de la barra de navegación segun tamaño del dispositivo*/

/* Change the color of links on hover */
.topnavdos a:hover {
  background-color: #ddd!important;
  color: black!important;
}

/* Add a color to the active/current link */
.topnavdos a.active {
  background-color: #F9BA2D!important;
  color: white!important;
  opacity:1!important;
}

.topnavdos:last-child {
  border-right: none;
}


.footerbox{
  text-align: center!important;
}
h5{
  color: whitesmoke;
  font-size: 30px;
  text-align:center;
  font-weight: bold;
  font-family: 'Bebas Neue';
  margin: 60px 0px 0px 0px; 
  padding: 0px 0px 0px 0px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa-youtube {
background: #bb0000;
color: white;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #e95950;
  color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  background-color: #56012A;
  padding: 10px;
  font-family:'Bebas Neue';
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 25px;
}


.dropbtn {
  background-color: #DDCCD4;
  color: black;
  padding: 16px;
  font-size: 25px;
  /* font-weight: bold; */
  border: none;
  cursor: pointer;
  font-family: 'Bebas neue';
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #F6FFFE;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: relative;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: grey;;}

.responsiveImage {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.columnNosotros {
  float: left;
  width: 25%;
  padding: 20px;
  box-sizing: border-box;
  
}

.rowNosotros:after {
  content: "";
  display: table;
  clear: both;
}

.chip {
  display: inline-block;
  padding: 0 25px;
  height: 150px;
  font-size: 25px;
  font-weight: bold;
  line-height: 150px;
  border-radius: 25px;
  background-color: #DDCCD4;
  text-align: left;
  display:block;
}

@media screen and (min-width: 601px) {
  .chip {
    font-size: 25px;
  }
}

@media screen and (max-width: 600px) {
  .chip {
    font-size: 18px;
  }
}

.chip img {
  float: left;
  margin: 25px 20px 20px 10px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  width: 100%;
  max-width: 100px;
  height: auto;
}

mark.purpleChip {
  color:#56012A;
  background: none;
  font-family: 'Bebas Neue';
}

.flex-containerContactos {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
  box-sizing: border-box;
}

.flex-item-leftImageContactos {
  background-color: #56012A;
  padding: 10px;
  margin-right:-20px;
  flex: 10%;
  font-family: 'Bebas Neue';
  float:left;
}

.flex-item-leftInfoContactos {
  background-color: #56012A;
  padding: 10px;
  flex: 20%;
  color:#F6FFFE;
  font-weight:bold;
  font-family: 'Bebas Neue';
  text-align: justify;
}

.flex-item-rightImageContactos {
  background-color: #56012A;
  padding: 10px;
  flex: 10%;
  margin-right:-20px;
}

.flex-item-rightInfoContactos {
  background-color: #56012A;
  padding: 10px;
  flex: 20%;
  color:#F6FFFE;
  font-weight:bold;
  font-family: 'Bebas Neue';
  float:left;
  text-align: justify;
}

/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width: 800px) {
  .flex-item-right, .flex-item-left {
    flex: 100%;
  }
}

.responsiveImageContactos {
  float: right;
  margin: 25px 20px 20px 10px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  width: 100%;
  max-width: 100px;
  height: auto;
}

.show {display: block;}

/* sin el show se rompen los botones de las materias */